#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  width: 80px;
  padding: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: grab;
  color: black;
  user-select: none;
}
.card:active {
  cursor: grabbing;
}

.alert {
  width: max-content;
  padding: 15px;
  border-radius: 12px;
  background: red;
  color: white;
  border: 1px solid black;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
}

.step-box {
  position: relative;
  height: 80px;
  margin-top: 12px;
}
.step-card {
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}